				<br>
				<br>
				<br>
				<br>
			<h1 id="user_profile_header">User Profile:</h1>
				<div class="profile"> 
					<img class="default_photo" src="images/profile.jpg" alt="default_photo">
					<br>
					<p>Username: <%= @user.username %></p>
					<p>User ID: <%= @user.id %></p>
					<br>
					<br>
					<br>
					<p>Email: <%= @user.email %></p>
					<p>Zipcode: <%= @user.zipcode %></p>
					<p>First Name: <%= @user.profile.fname %></p>
					<p>Last Name: <%= @user.profile.lname %></p>
					<p>City: <%= @user.profile.city %></p>
					<p>Birthday: <%= @user.profile.birthday %></p>
				</div>

				<form action="/follow_method" method="POST">
					<button class="nav_button" type="submit">Follow</button>
				</form>

			<div id="recent_posts">
			
			<% @posts = @posts.reverse 
				@posts.each do |post| %>
					<h3><%= post.title %></h3>
					<p><%= post.content %></p>
				<% end %>
			
			</div>

